.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

b {
  color: orange;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

calcite-tab,
calcite-tabs {
  /* --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555; */
  --calcite-color-border-1: #555555;
  /* --calcite-color-background: #bfbfbf; */
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
  border-style: solid;
  border-right-width: 6px;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
  border-style: solid;
  border-width: 5px;
}

calcite-shell-panel {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-panel {
  overflow-y: auto;
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-text-2: #ffffff;
  background-color: #2b2b2b;
}

calcite-list {
  overflow-y: auto;
  --calcite-color-border-3: #555555;
}

calcite-switch {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.calcitePanelBasemaps {
  display: grid;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.esri-legend * {
  background-color: #2b2b2b;
}

.esri-legend__layer-caption {
  display: none;
}

.calcite-tutorial {
  --calcite-color-brand: #039851;
  --calcite-color-brand-hover: #008d52;
}

.calcite-tutorial calcite-chip {
  --calcite-color-foreground-2: var(--calcite-color-brand);
  --calcite-color-text-1: white;
  margin-inline-end: 0.75rem;
}

/* Utility Chart Panel */
.lotNumberImage {
  display: flex;
  padding-left: 20px;
}

/* Header */
.headerTitle {
  color: white;
  margin-left: 1rem;
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
  width: 200px;
  height: 20px;
  margin-top: auto;
  margin-left: auto;
}

.dropdownFilterLayout {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  z-index: 2;
}

/* total Progress */

/* Information panel */
.informationDiv {
  padding-right: 10px;
}
